
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.sizeChota{
    font-size: 11px;
}

#deleteAccount{
    font-size: 11px;
}
#logout{
    font-size: 11px;
}
#addTask{
    font-size: 12px;
}
#avatar{
width: 34px;
border-radius: 30px;
margin-right:3px ;
}
#nameOfuser{
color: white;
}

#apnaArea{
    font-size: 12px;
/* display: flex;
flex-wrap: wrap;
gap: 45px; */
}

#personlJustify{
    
    justify-content: space-between !important;
}

#pagination .pageNumbers{
padding: 4px;
cursor: pointer;
}
#pagination .active{
background-color: lightskyblue;
}

.flex-round{
display: flex;
gap: 9px;
align-items: center;
}
.imp{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FF7F7F;
    border-radius: 50%;
}
.cmp{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #90EE90;
    border-radius: 50%;
}
.bold{
    font-weight: bold;
}
